*.pyc  
*~  

# add your virtual environment name below to ignore files from there 
pbaofflineenv
env
__pycache__

# ignoring all files from the downloads folder except .gitkeep
downloads/*
!downloads/.gitkeep

# ignoring all files from the output folder except .gitkeep
output/*
output/.gitkeep

# ignore VS Code config files
.vscode

hardcode-testing.py
input.txt
solution.cpp
submission.cpp
*.pk1